<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User-Community Book Lending System</title>
    <link href="/layui/css/layui.css" rel="stylesheet"/>
</head>

<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">

    <div th:include="common/user_header :: header"></div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">

                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">Borrow Management</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/userBorrowBookRecord">&emsp;&emsp;Borrowing Record</a></dd>
                        <dd class="layui-this"><a href="/borrowingPage">&emsp;&emsp;Borrowing Books</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">Book Management</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/userReturnBooksPage">&emsp;&emsp;Return Books</a></dd>
                        <dd><a href="/findBookPage">&emsp;&emsp;Search Books</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/userMessagePage">Personal Information</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body layui-container">

        <div class="layui-container layui-col-md6 ">
            <hr class="layui-bg-blue">
            <h3 style="text-align: center; font-size: xx-large"> User Borrows Books </h3>
            <hr class="layui-bg-blue">
        </div>

        <div>
            <input class=" layui-input-block" placeholder="Please enter the book ID" autocomplete="off" autofocus
                   id="bookId" type="text" name="bookId">

            <button class="layui-btn layui-bg-blue" id="btn1">Confirm Borrowing</button>
        </div>

    </div>


    <div th:include="common/footer :: footer"></div>
</div>

<script src="/scripts/jquery.min.js"></script>
<script src="/layui/layui.all.js"></script>
<script src="/scripts/user/borrowingBook.js"></script>

</body>
</html>
