<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User - Community Book Lending System</title>
    <link href="/layui/css/layui.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="/css/custom-style.css" rel="stylesheet"/>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div th:include="common/user_header :: header" class="user-header"></div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;">Borrow Management</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/userBorrowBookRecord">&emsp;&emsp;Borrowing Record</a></dd>
                        <dd><a href="/borrowingPage">&emsp;&emsp;Borrowing Books</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">Book Management</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/userReturnBooksPage">&emsp;&emsp;Returning Books</a></dd>
                        <dd><a href="/findBookPage">&emsp;&emsp;Search Books</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed"><a href="/userMessagePage">Personal Information</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body user-index-body">
        <div class="carousel-card">
            <div class="layui-carousel" id="userIndexCarousel">
                <div carousel-item>
                    <div><img src="/images/lib1.jpg" class="carousel-image"/></div>
                    <div><img src="/images/lib2.jpg" class="carousel-image"/></div>
                    <div><img src="/images/lib3.jpg" class="carousel-image"/></div>
                    <div><img src="/images/lib4.jpg" class="carousel-image"/></div>
                    <div><img src="/images/lib5.jpg" class="carousel-image"/></div>
                </div>
            </div>
        </div>
    </div>

    <div th:include="common/footer :: footer"></div>
</div>

<script src="/scripts/jquery.min.js"></script>
<script src="/layui/layui.js"></script>
<script>
    layui.use(['carousel', 'element'], function () {
        const carousel = layui.carousel;
        const element = layui.element;

        carousel.render({
            elem: '#userIndexCarousel',
            width: '100%',
            height: '500px',
            interval: 3000
        });
    });
</script>
</body>
</html>