<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MYAAVA - Community Book Lending</title>


    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <style>

        body {
            /*width: 100%;*/
            /*height: 100%;*/
            background: url("/images/background.png") no-repeat;
            /*background: url("static/images/a.png") no-repeat;*/
            background-size: cover;
        }

        #login_form {
            width: 400px;
            height: 400px;
            margin: 80px auto;
            padding: 30px;
            background-color: #f2f2f2;
            opacity: 0.9;
        }

    </style>
</head>
<body>

<div id="wrapper">
    <div class="layui-container" id="login_form">

        <div style="text-align: center">
            <h1 style="color: red">Book Lending System</h1>
            <br>
            <h2>User Login</h2>
            <br>
        </div>

        <form class="layui-form" id="my_form" method="post" action="/userLogin">

            <div class="layui-form-item">
                <label class="layui-form-label">User Name:</label>
                <div class="layui-input-block">
                    <input type="text" name="userName" id="username" autofocus
                           placeholder="Please enter user name" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">Password:</label>
                <div class="layui-input-block">
                    <input type="password" name="password" id="password"
                           placeholder="Please enter password" autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">User Role</label>
                <div class="layui-input-block">
                    <input class="form-check-input" type="radio" name="role" value="1" title="Public" checked>
                    <input class="form-check-input" type="radio" name="role" value="0" title="Administrator">
                </div>
            </div>

            <div class="layui-form-item layui-col-md4 layui-col-md-offset4">
                <button id="sub_btn" class="layui-btn layui-btn-normal">Login</button>
            </div>

        </form>

    </div>
</div>


<script th:src="@{/scripts/jquery.min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>


<script th:inline="javascript">
    layui.use(['layer', 'form'], function () {
        let layer = layui.layer;
        let form = layui.form;
        form.render();

        $(function () {
            let flag = [[${session.flag}]];
            if (flag) {
                layer.msg("Wrong username or password", {
                    icon: 2,
                    time: 2000 
                });
            }
        });
    });


    $("#sub_btn").click(function () {
        let username = $("#username").val();
        let user_judge = check(username);

 
        if (user_judge) {
            let password = $("#password").val();
            let pwd_judge = check(password);


            if (pwd_judge) {
                let role_id = $('input[name="role"]:checked').val();


                if (role_id == 1) {
                    $("#my_form").submit();
                } else {


                    $("#my_form").attr("action", "/adminLogin")
                    $("#my_form").submit();
                }

            } else {
                layer.alert("Password cannot be empty", {
                    icon: 5,
                    title: 'Information',
                    btn: ['OK']
                });
                return false;
            }
        } else {

            layer.alert("Username cannot be empty",{
                    icon: 5,
                    title: 'Information',
                    btn: ['OK']
                });
            return false;
        }
    });


    function check(val) {
        val = val.toString().trim();
        return !(val == '');
    }

</script>
</body>
</html>
